<% layout("/layouts/boilerplate.ejs") %>
<body>
  <br />
  <h3 class="mb-4">Create new listing</h3>

  <div class="col-8 offset-2">
    <form
      class="needs-validation"
      novalidate
      method="POST"
      action="/listings"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title required!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          type="text"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description required!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" class="form-control" required />
          <div class="invalid-feedback">Price required!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country required!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location required!</div>
      </div>

      <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
  </div>
</body>
