body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.f-info-links, .f-info-socials{
    width: 100%;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i{
    font-size: 1.2rem;
    padding: 0 1rem;
}

/* cards */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem;
}

.crad-body{
    padding: 0 !important;
}

.listing-link{
    text-decoration: none;
}

.card:hover{
    opacity: 0.8;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.btns{
    display: flex;
}

.show-card{
    opacity: 1 !important;
}